body {
    background-color: #FFE4C4;
}

h3 {
    font-size: 30px;
}

.phrase-style{
    font-style: italic;
}

.skill-style {
   background-color: #98FB98;
}

.skill-style #one {
    font-size: 27px;
}

.skill-style #two {
    font-size: 25px;
}

.skill-style #three {
    font-size: 23px;
}

.skill-style #four {
    font-size: 21px;
}

.sub-skill-style {
    background-color: #FA8072;
    font-size: 23px; 
}

.infos {
   padding: 10px;
}

.infos #sobre-mim {
    height: 260px;
}

.infos #name {
    color: 	#4F4F4F;
    text-align: center;
    height: 30px;
}

.infos #windson {
    padding: 8px;
    float: left;
    background-color: blue;
    height: 230px;
    position: relative;
    border-radius: 15px;
}

.infos p {
    top: 90px;
    left: 30px;
    position: relative;
}
 
.skill-style ul li:nth-child(odd) {
    font-style: italic;
}

.sub-skill-style ul li:nth-child(odd) {
    font-style: italic;
}
