body {
    background-color: #FFE4C4;
}

#name {
    color: 	#4F4F4F;
}

#phrase-style{
    font-style: italic;
}

.skill-style {
   background-color: #98FB98;
}

.skill-style #one {
    font-size: 27px;
}

.skill-style #two {
    font-size: 25px;
}

.skill-style #three {
    font-size: 23px;
}

.skill-style #four {
    font-size: 21px;
}


.sub-skill-style {
    background-color: #FA8072;
    font-size: 23px;
}

h3 {
    font-size: 30px;
}